/* Catppuccin Mocha Palette */
@define-color base #1e1e2e;
@define-color text #cdd6f4;
@define-color blue #89b4fa;
@define-color surface0 #313244;

* {
    background-image: none;
    font-family: "GeistMono Nerd Font";
}

window {
    background-color: rgba(30, 30, 46, 0.85);
    /* Base with opacity */
}

button {
    background-color: @surface0;
    color: @text;
    border: 2px solid @base;
    border-radius: 20px;
    margin: 10px;
    font-size: 40px;
    /* Large icons */
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: @blue;
    color: @base;
    outline-style: none;
}

button:focus {
    background-color: @blue;
    color: @base;
}